@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Sorry, you do not have any privacy on this website.</p>
<p>We will sell your data to the top buyers.</p>
<p>Use at your own risk.</p>